body {
    background-image: url('../images/9b5c3c312b15e624b2e35220bb37424d_2.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

* {
    padding: 0;
    margin: 0;
}

.themes {
    background-color: rgb(244, 212, 171);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 50%;
    top: 30%;
    
}
@font-face {
    font-family: "shrift";
    src: url("FRM325x8.ttf");
}

.white_text {
    color: white;
}

.site-header {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "shrift";
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center; /* центр по вертикали */
    justify-content: center; /* центр по горизонтали */
    background-color: rgba(25, 179, 179, 0.25); /* Используем rgba для прозрачности */
    background: linear-gradient(to right, rgba(1, 52, 55, 0.7),rgba(87, 198, 210, 0.7)); /* Линейный градиент от красного к синему */
}

.articles {
    font-size: 100px;
}
