body {
    background-image: url('C:\Users\Admin\Pictures\5265289713d180321c0149b3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    color:blueviolet;
}
