body {
    background-image: url('https://w.forfun.com/fetch/9b/9b5c3c312b15e624b2e35220bb37424d.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    color:blueviolet;
}
