body {
    background-image: url('https://github.com/VERBLYUDOK/WEBcam/blob/main/photo_2024-03-11_23-36-25.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    color:blueviolet;
}
